/* Custom CSS by Garrett Estrin | Garrett.Estrin.com */
html, body {
  height: 100%;
  width: 99%;
  font-family: DucksFont;
}

.container {
  height: 100%;
  width: 100%;
  display: table;
}

.content {
  display: table-cell;
  vertical-align: middle;
  font-size: 300px;
  text-align: center;
  height: 100%;
  width: 100%;
  font-family: DucksFont;
  position: relative;
  bottom: 100px;
  cursor: pointer;
}

.details {
  position: relative;
  bottom: 400px;
  text-align: center;
  font-size: 50px;
}

#logo {
  width: 50%;
  top: 100px;
  position: relative;
}

@font-face {
    font-family: DucksFont;
    src: url(ducks.ttf);
}

@media (min-width: 768px) {
  .details {
    bottom: 200px;
  }
}
